/* BROWSER CLEAR ----------------------------------------------------------------- */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th {
    margin:0;
    padding:0;
}

fieldset,img {
    border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}

ol,ul,dt,dd {
    list-style:none;
}

caption,th {
    text-align:left;
}

h1 {
    font-size:130%;
    font-weight:bold;
    color: #ed720e;
}

h2 {
    font-size:140%;
    font-weight:bold;
    color: #666;
}

h3 {
    font-size:140%;
    font-weight:bold;
    color: #ed720e;
    margin-left:5px;
    margin-bottom:5px;
}

q:before,q:after {
    content:'';
}

abbr,acronym {
    border:0;
}




/* Top Page ----------------------------------------------------------------- */




#top_box {
    width: 1000px;
    margin: 0 auto;
}


#top_box_left {
    float: left;
    width: 500px;
    margin-top: 10px;
}

#top_box_right {
    float: right;
    width: 490px;
    margin-top: 20px;
}

#top_mainbanner_left1 {
    float: left;
    width: 490px;
    height: 123px;
    margin-top: 10px;
}

#top_mainbanner_left2 {
    float: left;
    width: 490px;
    height: 140px;
    margin-top: 10px;
}


#slide {
    float: left;
    width: 1000px;
    height: 428px;
    margin-top: 20px;
    background-color: #000;
    overflow:hidden; 
}

#top_gl_banner {
    float: left;
    width: 1000px;
    height: 214px;
    margin-top: 40px;
    margin-bottom: 20px;
}


#top_box_sub {
    float: left;
    width: 1000px;
    margin-top: 20px;
}






#top_car_box_center {
    float: left;
    width: 1000px;
    height: 140px;
    margin-top: 20px;
}

#top_car_box_left {
    float: left;
    width: 490px;
    height: 140px;
    margin-top: 20px;
}

#top_car_box_right {
    float: right;
    width: 490px;
    height: 140px;
    margin-top: 20px;
}


#top_product_bar {
    float: left;
    width: 1000px;
    height: 37px;
    margin-top: 50px;
    margin-bottom: 5px;
}





/* Contents Page ----------------------------------------------------------------- */

#contents_header {
    float: left;
    width: 1000px;
    height: 260px;
    margin-top: 20px;
}

#left_box {
    float: left;
    width: 730px;
    background-color: #000;
    padding-bottom:50px;
}


#left_box_inner {
    float: left;
    width: 690px;
    margin-top: 20px;
    margin-left: 20px;
}






/* Product Page ----------------------------------------------------------------- */

#product_header {
    float: left;
    width: 690px;
    height: 43px;
}

#product_header2 {
    float: left;
    width: 690px;
    height: 43px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#product_header3 {
    float: left;
    width: 690px;
    color: #d40000;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#product_header4 {
    float: left;
    width: 690px;
    color: #d40000;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
}

#product_top_photo {
    float: left;
    width: 670px;
    height: 348px;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#product_thumb_box {
    float: left;
    width: 670px;
    height: 67px;
    margin-top: 1px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#product_thumb_box2 {
    float: left;
    width: 670px;
    height: 67px;
    margin-top: 1px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#product_thumb_box3 {
    float: left;
    width: 690px;
    margin-left: 7px;
}

#product_thumb_photo {
    float: left;
    width: 100px;
    height: 67px;
    margin-left: 5px;
    margin-right: 8px;
    margin-bottom: 10px;
}


#product_thumb_photo01 {
    float: left;
    width: 100px;
    height: 67px;
}

#product_thumb_photo02 {
    float: left;
    width: 100px;
    height: 67px;
    margin-left: 14px;
}


#product_item_tekigou {
    float: left;
    width: 100%;
    color: #ccc;
    font-size: 14px;
    line-height:1.5em;
    margin-top: 40px;
    margin-bottom: -20px;
}


#product_subheader_banner {
    float: left;
    width: 690px;
    height: 46px;
    margin-top: 20px;
    margin-bottom: -20px;
}

#product_item_box {
    float: left;
    width: 670px;
/*    height: 124px;*/
    margin-top: 40px;
    margin-left: 10px;
}

#product_item_left {
    float: left;
    width: 187px;
    height: 124px;
}

#product_item_right_box {
    float: right;
    width: 460px;
}

#product_item_right_title_bg {
    float: left;
    background-image: url( );
    width: 460px;
    height: 27px;
}

#product_item_right_title_bg2 {
    float: left;
    background-image: url( );
    width: 460px;
    height: 27px;
}

#product_item_right_title_name h2 {
    float: left;
    color: #ffa200;
    font-size: 15px;
    margin-top: 6px;
    margin-left: 5px;
}

#product_item_right_title_code {
    float: right;
    color: #aaa;
    font-size: 12px;
    margin-top: 8px;
    margin-right: 5px;
    text-align: right;
}

#product_item_right_text01 {
    float: left;
    width: 450px;
    color: #ddd;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
}

#product_item_right_text02 {
    float: left;
    width: 450px;
    height: 54px;
    color: #aaa;
    font-size: 11px;
    line-height:1.1em;
    margin-top: 5px;
    margin-left: 5px;
}

#product_item_right_text03 {
    float: left;
    width: 450px;
    color: #ccc;
    font-size: 11px;
    line-height:1.3em;
    margin-top: 10px;
    margin-left: 5px;
}

#product_item_right_text04 {
    float: left;
    width: 450px;
    color: #d40000;
    font-size: 14px;
    line-height:1.3em;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
    margin-left: 5px;
}

#product_item_right_icon {
    float: left;
    width: 111px;
    height: 15px;
    margin-left: 5px;
    color: white;
}

#product_item_right_color {
    float: left;
    width: 300px;
    height: 15px;
    color: #fff;
    font-size: 11px;
    line-height:1.1em;
    margin-left: 5px;
}

#product_item_right_price {
    float: right;
    color: #d40000;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
    text-align: right;
}



#product_item_box_last {
    float: left;
    width: 670px;
    margin-top: 80px;
    margin-left: 10px;
    background-color: #222;
    padding-bottom: 20px;
}

#product_item_right_last01 {
    float: left;
    width: 630px;
    color: #ffa200;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
}

#product_item_right_last02 {
    float: left;
    width: 630px;
    color: #ccc;
    font-size: 12px;
    line-height:1.3em;
    margin-top: 5px;
    margin-left: 20px;
}



#product_panel_text_box {
    float: left;
    width: 670px;
    color: #ccc;
    font-size: 12px;
    line-height:1.4em;
    margin-left: 10px;
    margin-bottom: 20px;
}


#main_bunner {
    width:670px; 
    height:40px; 
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}






/* SIDE MENU ----------------------------------------------------------------- */

#right_box {
    float: right;
    width: 250px;
}

#right_box_banner01 {
    float: left;
    width: 250px;
    height: 71px;
    margin-bottom: 10px;
}

#right_box_banner02 {
    float: left;
    width: 250px;
    height: 63px;
    margin-bottom: 10px;
}

#right_sns_banner {
    float: left;
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
}









