@font-face
{
    font-family: "Xtreem";
    src: url("files/Xtreem_2_PersonalUse.ttf");
}
@font-face
{
    font-family: "Xena";
    src: url("files/Xena.ttf");
}
@font-face
    {
    font-family: "Terminator";
        src: url("./files/terminator.otf");     
    }

/* HOME page style */

.home_body {
  text-align: center;
  background: url("files/bg_pic.jpg");
  background-size: cover;
  background-position: center;
  color: black;
  font-family: helvetica;
  background-repeat: no-repeat;
  padding:0px;
  margin:0px;
  width:100%;
  height:100%;
  height: 100vh;
  overflow:hidden;
}

.home_demo {
  width: 700px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 240px;
  font-weight: bold;
  color: red;
  position: absolute;
  text-shadow:
   -1px -1px 0 white,
   1px -1px 0 white,
   -1px 1px 0 white,
   1px 1px 0 white,
   0px 0px 15px white;
}


.home_a {
  color: #FF0000;
    z-index: 100;
    position: relative;
    margin-top: -200px;
    font-size: 20px;
    font-family: "Xena";
    color: red;
    font-weight: bold;
    text-shadow:
     -1px -1px 0 white,
     1px -1px 0 white,
     -1px 1px 0 white,
     1px 1px 0 white,
     0px 0px 15px white;
  }

.home_p {
  z-index: 100;
  position: relative;
  margin-top: 80px;
  font-size: 90px;
  font-family: "Xtreem";
  color: black;
  font-weight: bold;
  text-shadow:
   -1px -1px 0 white,
   1px -1px 0 white,
   -1px 1px 0 white,
   1px 1px 0 white,
   0px 0px 15px white;
}

.home_p1 {
  z-index: 100;
  position: relative;
  margin-top: -200px;
  font-size: 20px;
  font-family: "Xena";
  color: black;
  font-weight: bold;
  text-shadow:
   -1px -1px 0 white,
   1px -1px 0 white,
   -1px 1px 0 white,
   1px 1px 0 white,
   0px 0px 15px white;
}

/* ABOUT page style */

.about_p {
  z-index: 100;
  position: relative;
  margin-top: -80px;
  font-size: 90px;
  font-family: "Xtreem";
  color: black;
  font-weight: bold;
  text-shadow:
   -1px -1px 0 white,
   1px -1px 0 white,
   -1px 1px 0 white,
   1px 1px 0 white,
   0px 0px 15px white;
}

.about_p1 {
  z-index: 100;
  position: relative;
  margin-top: -200px;
  font-size: 20px;
  font-family: "Xena";
  color: black;
  font-weight: bold;
  text-shadow:
   -1px -1px 0 white,
   1px -1px 0 white,
   -1px 1px 0 white,
   1px 1px 0 white,
   0px 0px 15px white;
}

.about_input {
  border: 0;
  padding: 10px;
  font-size: 18px;
  margin-top: -20px;
  border-radius: 10px;
}

.about_input[type=email]:focus {
  border: 3px solid black;
}

.about_submit[type="submit"] {
  border: 0;
  margin-top: -20px;
  -webkit-border-radius: 10px;
  border-radius: 10px; 
  color: white;
  background: black; 
  cursor: pointer;
  padding: 10px 32px;
  text-decoration: none;
}

.about_img
{
  margin-top: 20px;
  border-radius: 10px;
  border: 15px solid rgba(0,0,0, 0.3);
  transform: rotate(4deg);
}


/* BLOG Page Style */


.blog_header {
  text-align: center;
  background: url("./files/bg_img_jzx3.jpg");
  background-size: cover;
  border-radius: 10px;
}

.blog_body {
  text-align: center;
  background-color: black;
  color: white;
  background-image: url("./files/bg_bottom.jpg");
  background-repeat:no-repeat;
  background-position:center top;
}

.blog_a {
  color: #ccc;
  text-decoration: none;
}

.blog_a:hover {
  color: #ff0000;
  text-decoration: none;
  font-size: 25px;
}

.blog_h1 {
  font-size: 50px;
  font-family: Xena;
  color: black;
  font-weight: bold;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog_h1:hover {
  font-size: 50px;
  font-family: Xena;
  color: red;
  font-weight: bold;
 -webkit-text-fill-color: unset;
  text-shadow:
   -1px -1px 0 black,
   1px -1px 0 black,
   -1px 1px 0 black,
   1px 1px 0 black,
   0px 0px 15px black;
  }
  

.blog_img {
    margin: 40px 0px 0px 0px;
    border: 3px solid white;
    border-radius: 20px;
  } 

  .blog_h2 {
    font-size: 25px;
    font-family: Arial;
    color: white;
    text-transform: uppercase;

  }


  .blog_ul {
    padding: 10px;
    background: rgba(0,0,0,0.5);
  }
  .blog_li {
    font-size: 15px;
    font-family: Terminator;
    display: inline;
    padding: 0px 10px 0px 10px;
  }


  @media (max-width: 850px) {
    .blog_a:hover {
    color: #ff0000;
    text-decoration: none;
    font-size: 15px;
}
      .blog_h1 {
        font-size: 36px;
        padding: 5px;
      }
      .blog_h1:hover {
        font-size: 36px;
        padding: 5px;
      }
      .blog_li {
        padding: 5px;
        display: block;
      }
       .blog_p {
        color: white;
      }
    }

  .blog_article {
        font-size: 20px;
    font-family: Arial;
    max-width: 850px;
    padding: 20px;
    margin: 0 auto;
    color: white;
  }

.blog_color_divbox { 
  font-size: 20px;
font-family: Terminator;
position: relative; 
top: 20px; 
left: 1000px; 
width: 200px;
background: linear-gradient(to left, red, blue, green);
border-radius: 20px;
}


